/* 
Exemplo da aula: no meu caso substitui pelo codigo abaixo pq não funciona com a versão do VS Code instalada

#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
} */

#featured img {
    height: 100%;
    object-fit: cover;
    
}

.card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    /* 
    Não funcionou desse modo do exemplo por versão do VS Code instalada na máquina. Solução foi colocar fora do card como mostrado abaixo.

    figcaption {
        position: absolute;
        bottom: 0;

        padding: 24px;
    } */
}

figcaption {
    position: absolute;
    bottom: 0;

    padding: 24px;

    /* 
    Novamente a solução foi colocar fora do figcaption
    
    h2 {
        margin-top: 8px;
    } */
}

figcaption h2 {
    margin-top: 8px;
}